@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

/* promenljive u css-u za sajt */
:root{
  --bg-color:#f8f8f8;
}

/* css za main */
.main{
  background-color:var(--bg-color) ;
}


/* komentar odavde krece heder */
.heder{
  display: flex;
  justify-content:  space-between;
  flex-direction: column;
  gap:10px;
  background-color: var(--bg-color); 
}

.heder-kontakt{
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 70px;
}

.heder-info{
  display: flex;
  align-items: center;
  gap:30px;
}
.heder-info button{
  height: 20px;
}
.meni-fixed{
  height: 70px;
}

.heder-meni{
  box-shadow: 0 -5px 20px rgba(0, 0, 0, 0.151);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0px 70px;
  height: 70px;
  width: 100vw;
}
.heder-meni .logo{
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  cursor: pointer;
}
.meni{
  display: flex;
  gap:20px
}
.meni-text{
  font-size: 18px;
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.meni-text::after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2.5px;
  background-color: black;
  bottom: -5px;
  left: 0;
  transform-origin: bottom right;
  transition: transform 0.3s ease-out;
}
.meni-text:hover::after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*stajl za kucum*/
.glavni{
  height: 100vh;
}
